<script lang="ts">
  import { Modal } from 'flowbite-svelte'

  import OllamaConfig from '$lib/OllamaConfig.svelte'

  let {
    storeAndClose,
    formModal,
    host = $bindable(),
    port = $bindable(),
  }: { storeAndClose: (e: MouseEvent) => void; formModal: boolean; host: string; port: number } = $props()
</script>

<Modal bind:open={formModal} size="xs" autoclose={false} dismissable={false} class="w-full">
  <OllamaConfig {storeAndClose} bind:host bind:port />
</Modal>
