<script lang="ts">
  import { formatDateToReadable } from '$lib/helpers.svelte'
  import { UserCircleOutline } from 'flowbite-svelte-icons'

  import SvelteMarkdown from 'svelte-markdown'

  type MyProps = {
    userName: string
    content: string
    timeDate: Date
    isQuestion: boolean
  }
  let { userName, content, timeDate, isQuestion }: MyProps = $props()
</script>

<div class="flex w-3/4 items-start gap-2.5 pl-10">
  <UserCircleOutline color={isQuestion ? 'blue' : 'gray'} />
  <div
    class={`leading-1.5 m-1 flex-col rounded-e-xl rounded-es-xl p-3` +
      ` ${isQuestion ? 'bg-blue-200 dark:bg-blue-700' : 'bg-gray-200 dark:bg-gray-700'}`}
  >
    <div class="items-center space-x-2 rtl:space-x-reverse">
      <span class="text-sm font-semibold text-gray-900 dark:text-white">{userName}</span>
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{formatDateToReadable(timeDate)}</span>
    </div>
    <p class="py-1 text-sm font-normal text-gray-900 dark:text-white"><SvelteMarkdown source={content} /></p>
  </div>
</div>
