<script lang="ts">
  import { Label, Input, Button, Spinner } from 'flowbite-svelte'
  import { listModels } from '$lib/ollamaHelper.svelte'
  import { DEFAULT_HOST, DEFAULT_PORT } from './configuration.svelte'

  enum TDialogState {
    'initial',
    'fetching',
    'success',
    'error',
  }

  let {
    storeAndClose,
    host = $bindable(),
    port = $bindable(),
  }: { storeAndClose: (e: MouseEvent) => void; host: string; port: number } = $props()

  let dialogState = $state<TDialogState>(TDialogState.initial)
  let resultText = $state('Test connection 👆')

  const testConnection = async () => {
    dialogState = TDialogState.fetching
    console.log(`Testing connection to ${host}:${port}`)
    const models = await listModels(`${host}:${port}`)

    if (models !== undefined) {
      console.log(models)
      resultText = `Success connecting to Ollama server`
      dialogState = TDialogState.success
    } else {
      resultText = `Error connecting to Ollama - make sure it is started with command\n> OLLAMA_ORIGINS=* ollama serve`
      dialogState = TDialogState.error
    }
  }
</script>

<form class="flex flex-col space-y-6" action="#">
  <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Connect to Ollama</h3>
  <Label class="space-y-2">
    <span>Url</span>
    <Input type="url" name="url" placeholder={DEFAULT_HOST} bind:value={host} required />
  </Label>
  <Label class="space-y-2">
    <span>Port</span>
    <Input type="number" name="port" placeholder={DEFAULT_PORT} bind:value={port} required />
  </Label>
  <Button on:click={testConnection}>
    {#if dialogState == TDialogState.fetching}
      <Spinner size="5" />
    {:else}
      Test connection
    {/if}
  </Button>
  <Label class="{dialogState == TDialogState.success ? 'text-green-400' : 'text-red-600'} space-y-2">
    <span>{resultText}</span>
  </Label>

  <Button on:click={storeAndClose} type="submit" disabled={dialogState != TDialogState.success}>OK</Button>
</form>
