<script lang="ts">
  import { Textarea, ToolbarButton, Button, Dropdown, DropdownItem } from 'flowbite-svelte'
  import { PaperPlaneOutline, ChevronUpOutline } from 'flowbite-svelte-icons'

  import type { RoleType, AlterEgoType } from '$lib/types.svelte'

  let {
    content = $bindable(),
    ff,
    roles,
    role = $bindable(),
    alteregos,
    alterego = $bindable(),
  }: {
    content: string
    ff: (e: MouseEvent) => void
    roles: RoleType[]
    role: RoleType
    alteregos: AlterEgoType[]
    alterego: AlterEgoType
  } = $props()

  const handleRoleClick = (e: MouseEvent) => {
    e.preventDefault()
    const button = e.target as HTMLButtonElement
    role = roles.find((r) => r.id === button.value) ?? roles[0]
  }

  const handleAlteregoClick = (e: MouseEvent) => {
    e.preventDefault()
    const button = e.target as HTMLButtonElement
    alterego = alteregos.find((a) => a.id === button.value) ?? alteregos[0]
  }
</script>

<div class="pulsate absolute bottom-0 left-0 right-0 m-6 flex gap-1.5 rounded-[26px] bg-primary-700 p-1.5">
  <Button size="sm">Context<ChevronUpOutline class="text-white dark:text-white" /></Button>
  <Dropdown>
    {#each alteregos as { name, id }}
      <DropdownItem on:click={handleAlteregoClick} value={id}>{name}</DropdownItem>
    {/each}
  </Dropdown>

  <Textarea
    id="query"
    class="w-full border-transparent bg-transparent text-sm text-primary-100 focus:border-transparent focus:ring-0"
    rows="1"
    bind:value={content}
    placeholder="Enter your text here..."
  ></Textarea>

  <ToolbarButton on:click={ff} type="submit" color="blue" class="rounded-full text-primary-600 dark:text-primary-500">
    <PaperPlaneOutline class="h-6 w-6 rotate-45" />
    <span class="sr-only">Send message</span>
  </ToolbarButton>
</div>

<style>
  .pulsate {
    @apply animate-pulseGlow;
  }
</style>
