<script lang="ts">
  import { Sidebar, SidebarGroup, SidebarItem, SidebarWrapper, Drawer, ToolbarButton } from 'flowbite-svelte'
  import { CogOutline, GridSolid, BarsOutline } from 'flowbite-svelte-icons'
  import { sineIn } from 'svelte/easing'

  const { setupOllama }: { setupOllama: (e: MouseEvent) => void } = $props()

  let spanClass = 'flex-1 ms-3 whitespace-nowrap'
  let hidden6 = $state(true)
  let transitionParamsLeft = {
    x: 320,
    duration: 200,
    easing: sineIn,
  }
</script>

<ToolbarButton
  on:click={() => (hidden6 = !hidden6)}
  class="fixed right-4 top-4 rounded-full text-primary-600 dark:text-primary-500"
  color="blue"
>
  <BarsOutline class="h-6 w-6" />
  <span class="sr-only">Menu</span>
</ToolbarButton>

<Drawer
  placement="right"
  transitionType="fly"
  transitionParams={transitionParamsLeft}
  bind:hidden={hidden6}
  id="sidebar6"
>
  <Sidebar>
    <SidebarWrapper>
      <SidebarGroup>
        <SidebarItem
          label="Ollama Connection"
          on:click={(e) => {
            hidden6 = true
            setupOllama(e)
          }}
        >
          <svelte:fragment slot="icon">
            <CogOutline
              class="h-6 w-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
            />
          </svelte:fragment>
        </SidebarItem>
        <!-- <SidebarItem label="Other">
          <svelte:fragment slot="icon">
            <GridSolid
              class="h-6 w-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
            />
          </svelte:fragment>
        </SidebarItem> -->
        <!-- <SidebarItem label="Kanban" {spanClass}>
          <svelte:fragment slot="icon">
            <GridSolid
              class="h-6 w-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
            />
          </svelte:fragment>
          <svelte:fragment slot="subtext">
            <span
              class="ms-3 inline-flex items-center justify-center rounded-full bg-gray-200 px-2 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-300"
            >
              Pro
            </span>
          </svelte:fragment>
        </SidebarItem> -->
      </SidebarGroup>
    </SidebarWrapper>
  </Sidebar>
</Drawer>
