<script lang="ts">
  import { onMount } from 'svelte'

  import { Alert, Spinner } from 'flowbite-svelte'

  import type { MessageType, RoleType, AlterEgoType } from '$lib/types.svelte'
  import { storedHistory } from '$lib/configuration.svelte'
  import Message from '$lib/Message.svelte'
  import QueryBar from '$lib/QueryBar.svelte'
  import SideBar from '$lib/SideBar.svelte'
  import FirstConfigDialog from '$lib/FirstConfigDialog.svelte'

  const sh = storedHistory()

  let host = $state<string>('')
  let port = $state<number>(-1)
  $inspect(port)
  let storedConfiguration = $state<boolean>()

  onMount(() => {
    storedConfiguration = sh.init(localStorage)
    port = sh.port ?? -1
    host = sh.host ?? 'wrong'
  })

  /// Initial config dialog
  const storeAndClose = () => {
    console.log('store>>>>', host, port)
    sh.host = host
    sh.port = port
    storedConfiguration = true
  }

  // Declaration
  const roles: RoleType[] = [
    {
      name: 'Rich Harris',
      id: 'richharris',
      model: 'llama3:8b',
      context: 'as the creator and lead developer of svelte and sveltekit',
    },
    {
      name: 'Joanna',
      id: 'joanna',
      model: 'llama3:8b',
      context: 'hardworkig and emotional deleloper specialised in typescript, tailwind css and sveltekit 5',
    },
    { name: 'Kalle', id: 'kalle', model: 'mistral:v0.2', context: '' },
  ]

  const alteregos: AlterEgoType[] = [
    { name: 'Haxor', id: 'haxor', context: 'Curious on typescript nodejs svelte' },
    { name: 'Lover boy', id: 'lover_boy', context: 'Curious on how sex can make life and relationships better' },
  ]

  let scrollToElement: HTMLElement
  let dd = $state<string | undefined>(undefined)
  let content = $state<string>('explain like im five "why is the sky blue", with at most 20 words')
  let role = $state<RoleType>(roles[0])
  let alterego = $state<AlterEgoType>(alteregos[0])

  // function to send chat messages to local ollama server
  const ff = async () => {
    const qq: MessageType = {
      userName: 'User',
      content: content,
      timeDate: new Date(),
      isQuestion: true,
    }
    sh.push(qq)

    scrollToElement.scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' })
    dd = ''
    const model = role.model
    const messages: { role: string; content: string }[] = sh.history.map((m: MessageType) => {
      return { role: 'user', content: m.content }
    })
    const body = JSON.stringify({
      model,
      messages,
    })

    try {
      const response = await fetch(`${host}:${port}/api/chat`, {
        method: 'POST',
        body,
        headers: {
          'content-type': 'application/json',
        },
      })

      if (response.body === null) {
        dd = 'jens --- no response.body'
        console.error('jens --- no response.body')
        return
      }

      const reader = response.body.pipeThrough(new TextDecoderStream()).getReader()
      while (true) {
        const { value, done } = await reader.read()

        if (done) break
        const content = JSON.parse(value ?? '')?.message?.content
        dd += content
      }
    } catch (error) {
      console.error('jens --- thrown error', error)
    }

    if (dd !== undefined) {
      const mm: MessageType = {
        userName: 'Computer',
        content: dd,
        timeDate: new Date(),
        isQuestion: false,
      }
      sh.push(mm)
    }
    dd = undefined
  }
  const setupOllama = (_: MouseEvent) => {
    storedConfiguration = false
  }
</script>

<SideBar {setupOllama} />

<FirstConfigDialog {storeAndClose} formModal={!storedConfiguration} bind:host bind:port />

<div class="flex h-screen flex-grow flex-col overflow-auto pb-20 pt-1">
  {#each sh.history as { userName, content, timeDate, isQuestion }}
    <Message {userName} {content} {timeDate} {isQuestion} />
  {/each}
  {#if dd}
    <Message userName={'Computer'} content={dd} timeDate={new Date()} isQuestion={false} />
  {:else if dd === ''}
    <div class="p-8">
      <Alert color="primary">
        <Spinner />
        <span class="font-medium">Loading...</span><br />
        Waiting for Ollama to respond
      </Alert>
    </div>
  {/if}
  <div bind:this={scrollToElement} style="height: 100vh;">
    <br />
  </div>
</div>

<QueryBar bind:content {ff} {roles} bind:role {alteregos} bind:alterego />
